.stats-section{
    background:#edf4fb;
    padding:70px 0;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr) !important;
    gap:25px;
}

.stat-card{
    text-align:center;
}

.stat-card h2{
    font-size:42px;
    color:#00566f;
    margin-bottom:12px;
    font-weight:700;
}

.stat-card p{
    color:#64748b;
    font-size:13px;
    letter-spacing:2px;
    font-weight:600;
}

@media(max-width:992px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

row-gap:50px;

}

}

@media(max-width:576px){

.stats-grid{

grid-template-columns:1fr;

}

.stat-card h2{

font-size:36px;

}

}