.form-buttons{

display:flex;

justify-content:flex-end;

gap:20px;

margin-top:40px;

flex-wrap:wrap;

}

.form-buttons button{

height:50px;

padding:0 30px;

border:none;

border-radius:8px;

font-size:15px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.draft-btn{

background:#fff;

border:1px solid #d5dce5 !important;

}

.preview-btn{

background:#f59e0b;

color:white;

}

.publish-btn{

background:#0f766e;

color:white;

}

.form-buttons button:hover{

transform:translateY(-2px);

}

@media(max-width:768px){

.form-buttons{

flex-direction:column;

}

.form-buttons button{

width:100%;

}

}